*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input{
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

#name{
    width: 40%;
    height: 30px;
}

#add{
    width: 20%;
    height: 30px;
}

#container{
    padding: 10px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

#open,#inProgress,#inReview,#done{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    height: 40em;
    width: 20em;
    display: flex;
    justify-content: flex-start;
}

#taskList{
    margin-top: 30px;
    margin-left: 30px;
}


